.navbar .container{
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 7%;
}
.navbar img{
    width: 120px;
}
.navbar div{
    display: flex;
    align-items: center;
}
.navbar div a{
    color: var(--black);
    margin: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    text-transform: uppercase;
} 
.navbar select{
    margin: 0 5px;
}
.navbar span{
    display: flex;
    align-items: center;
}
.navbar span i{
    margin: 10px;
    font-size: 20px;
    color: var(--black);
}
.navbar span i:hover{
    opacity: .6;
}